{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav-add-term').parent().addClass('active');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input placeholder="Term" id="term-input" type="text" class="validate">
                    <label for="term-input">Term</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}