{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        var termsListCreateURL = '//{{ request.get_host }}{% url 'vocab:terms:list_create' %}';
        var relationshipsListCreateURL = '//{{ request.get_host }}{% url 'vocab:relationships:list_create' %}';
        var terms = [{% for term in terms %}'{{ term.term }}',{% endfor %}];
        var relationships = [{% for relationship in relationships %}'{{ relationship.relationship }}',{% endfor %}]
        $(document).ready(function() {
            $('#nav-vocab-main').parent().addClass('active');
            $('select').material_select();
            $('.modal-trigger').leanModal();
            $('#term-input').on('change', function(e) {
                if (!$.inArray($(this).val().trim(), terms)) {
                    document.getElementById('term-input').setCustomValidity('Not valid');
                } else {
                    document.getElementById('term-input').setCustomValidity('');
                }
            });
            $('#relationship-input').on('change', function(e) {
                if (!$.inArray($(this).val().trim(), relationships)) {
                    document.getElementById('relationship-input').setCustomValidity('Not valid');
                } else {
                    document.getElementById('relationship-input').setCustomValidity('');

                }
            });
            $('#term-license-input').on('change', function(e) {
                if ($(this).val() === 'Copyright') {
                    $(this).parent().parent().parent().parent().after('<div class="row" id="term-copyrighting-org-row"> <div class="col s12"> <div class="input-field"> <input type="text" class="materialize-textarea validate" id="term-copyrighting-org-input" maxlength="255" placeholder="Copyrighting Organization" required> <label for="term-copyrighting-org-input">Copyrighting Organization</label> </div> </div> </div>');
                    Materialize.updateTextFields();
                } else {
                    $('#term-copyrighting-org-row').remove();
                }
            });
            $('#add-term-form').on('submit', function(e) {
                e.preventDefault();
                var data = {
                    term: $('#term-input').val().trim(),
                    description: $('#term-description-input').val()
                };
                var license = $('#term-license-input').val();
                if (license !== 'Choose your license') {
                    data.license = license;
                }
                $.ajax({
                    url: termsListCreateURL,
                    type: 'POST',
                    data: data
                })
                        .done(function(data) {
                            $('#add-term-modal').closeModal();
                            $.ajax({
                                url: termsListCreateURL,
                                type: 'GET'
                            })
                                    .done(function(data) {
                                        terms = [];
                                        var termsTable = $('#terms-table');
                                        var termsHTML = '';
                                        $.each(data, function(k, v) {
                                            terms.push(v.term);
                                            termsHTML += '<li> <div class="collapsible-header"><i class="material-icons">assignment</i>' + v.term + '</div> <div class="collapsible-body"> <div class="row"> <p>' + v.description + '</p> </div> <div class="row"> <div class="col s2 offset-s1"> <div class="chip"> <a class="grey-text text-darken-1" href="' + v.license_url + '" target="_blank">' + v.license + '</a> </div> </div> <div class="col s3 offset-s3"> <a href="//{{ request.get_host }}{% url 'vocab:terms:edit_term' %}?id=' + v.id + '" class="waves-effect waves-light btn right"><i class="material-icons left">mode_edit</i>Edit</a> </div> <div class="col s3"> <button class="waves-effect waves-light btn" type="button"><i class="material-icons left">equalizer</i>Visualize</button> </div> </div> </div> </li>';
                                        });
                                        termsTable.html(termsHTML);
                                    });
                        });
            });
            $('#submit-add-relationship-btn').on('click', function(e) {
                e.preventDefault();
                var data = {
                    relationship: $('#relationship-input').val().trim()
                };
                $.ajax({
                    url: relationshipsListCreateURL,
                    type: 'POST',
                    data: data
                })
                        .done(function(data) {
                            $('#add-relationship-modal').closeModal();
                            $.ajax({
                                url: relationshipsListCreateURL,
                                type: 'GET'
                            })
                                    .done(function(data) {
                                        relationships = [];
                                        var relationshipsTable = $('#relationships-table tbody');
                                        $.each(data, function(k, v) {
                                            relationships.push(v.relationship);
                                            relationshipsTable.append('<tr><td>' + v.relationship + '</td><td>' + v.description + '</td></tr>');
                                        });
                                    });
                        });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h4>Terms</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion" id="terms-table">
                {% for term in terms %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment</i>{{ term.term }}</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <p>{{ term.description }}</p>
                            </div>
                            <div class="row">
                                <div class="col s2 offset-s1">
                                    <div class="chip">
                                        <a class="grey-text text-darken-1" href="{{ term.license.url }}" target="_blank">{{ term.license }}</a>
                                    </div>
                                </div>
                                <div class="col s3 offset-s3">
                                    <a href="//{{ request.get_host }}{% url 'vocab:terms:edit_term' %}?id={{ term.id }}" class="waves-effect waves-light btn right"><i class="material-icons left">mode_edit</i>Edit</a>
                                </div>
                                <div class="col s3">
                                    <button class="waves-effect waves-light btn" type="button"><i class="material-icons left">equalizer</i>Visualize</button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Relationships</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion" id="relationships-table">
                {% for relationship in relationships %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">library_books</i>{{ relationship.relationship }}</div>
                        <div class="collapsible-body">
                                <p>{{ relationship.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating light-blue accent-3 tooltipped modal-trigger" id="add-term-btn" data-tooltip="Add Term" data-position="left" data-delay="50" href="#add-term-modal"><i class="material-icons">assignment</i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped modal-trigger" id="add-relationship-btn" data-tooltip="Add Relationship" data-position="left" data-delay="50" href="#add-relationship-modal"><i class="material-icons">library_books</i></a></li>
        </ul>
    </div>
    <div id="add-term-modal" class="modal">
        <div class="modal-content">
            <h4>Add Term</h4>
            <form id="add-term-form">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input placeholder="Term" id="term-input" type="text" class="validate" maxlength="255" required>
                            <label for="term-input">Term</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <textarea class="materialize-textarea validate" id="term-description-input" maxlength="2048" placeholder="Description" required></textarea>
                            <label for="term-description-input">Description</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <select id="term-license-input">
                                <option selected disabled>Choose a license</option>
                                {% for license in licenses %}
                                <option>{{ license.name }}</option>
                                {% endfor %}
                            </select>
                        <label for="term-license-input">License</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 offset-s10">
                        <button type="submit" class="waves-effect waves-light btn" id="submit-add-term-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="add-relationship-modal" class="modal">
        <div class="modal-content">
            <h4>Add Relationship</h4>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="input-field">
                        <input placeholder="Relationship" id="relationship-input" type="text" class="validate" maxlength="255">
                        <label for="relationship-input">Relationship</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s8">
                    <button type="button" class="waves-effect waves-light btn" id="submit-add-relationship-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}