@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Light.ttf) format("truetype");
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.cursor-pointer {
    cursor: pointer;
}
.home-circle {
    height: 300px;
    width: 300px;
}
.true-center {
     position: relative;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}