{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocabularyHarmonizer</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vocabulary_harmonizer.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue lighten-2">
            <a href="#!" class="brand-logo">VocabularyHarmonizer</a>
            <ul class="right hide-on-med-and-down">
                <li><a id="nav-add-term" href="//{{ request.get_host }}{% url 'terms:add_term_form' %}">Add Term</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>