{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        var termsListCreateURL = '//{{ request.get_host }}{% url 'vocab:terms:list_create' %}';
        var relationshipsListCreateURL = '//{{ request.get_host }}{% url 'vocab:relationships:list_create' %}';
        var terms = [{% for term in terms %}'{{ term.term }}',{% endfor %}];
        var relationships = [{% for relationship in relationships %}'{{ relationship.relationship }}',{% endfor %}]
        $(document).ready(function() {
            $('.modal-trigger').leanModal();
            $('#term-input').on('change', function(e) {
                if (!$.inArray($(this).val().trim(), terms)) {
                    document.getElementById('term-input').setCustomValidity('Not valid');
                } else {
                                        document.getElementById('term-input').setCustomValidity('');

                }
            });
            $('#relationship-input').on('change', function(e) {
                if (!$.inArray($(this).val().trim(), relationships)) {
                    document.getElementById('relationship-input').setCustomValidity('Not valid');
                } else {
                                        document.getElementById('relationship-input').setCustomValidity('');

                }
            });
            $('#submit-add-term-btn').on('click', function(e) {
                e.preventDefault();
                var data = {
                    term: $('#term-input').val().trim()
                };
                $.ajax({
                    url: termsListCreateURL,
                    type: 'POST',
                    data: data
                })
                        .done(function(data) {
                            $('#add-term-modal').closeModal();
                            $.ajax({
                                url: termsListCreateURL,
                                type: 'GET'
                            })
                                    .done(function(data) {
                                        terms = [];
                                        $.each(data, function(k, v) {
                                            terms.push(v.term);
                                        });
                                    });
                        });
            });
            $('#submit-add-relationship-btn').on('click', function(e) {
                e.preventDefault();
                var data = {
                    relationship: $('#relationship-input').val().trim()
                };
                $.ajax({
                    url: termsListCreateURL,
                    type: 'POST',
                    data: data
                })
                        .done(function(data) {
                            $('#add-term-modal').closeModal();
                            $.ajax({
                                url: termsListCreateURL,
                                type: 'GET'
                            })
                                    .done(function(data) {
                                        relationships = [];
                                        $.each(data, function(k, v) {
                                            relationships.push(v.relationship);
                                        });
                                    });
                        });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red tooltipped modal-trigger" id="add-term-btn" data-tooltip="Add Term" data-position="left" data-delay="50" href="#add-term-modal"><i class="material-icons">assignment</i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped modal-trigger" id="add-relationship-btn" data-tooltip="Add Relationship" data-position="left" data-delay="50" href="#add-relationship-modal"><i class="material-icons">library_books</i></a></li>
        </ul>
    </div>
    <div id="add-term-modal" class="modal">
        <div class="modal-content">
            <h4>Add Term</h4>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="input-field">
                        <input placeholder="Term" id="term-input" type="text" class="validate" maxlength="255">
                        <label for="term-input">Term</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s8">
                    <button type="button" class="waves-effect waves-light btn" id="submit-add-term-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="add-relationship-modal" class="modal">
        <div class="modal-content">
            <h4>Add Relationship</h4>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="input-field">
                        <input placeholder="Relationship" id="relationship-input" type="text" class="validate" maxlength="255">
                        <label for="relatinship-input">Relationship</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s8">
                    <button type="button" class="waves-effect waves-light btn" id="submit-add-relationship-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}